.dropbtn {
                background-color: #4CAF50;
                color: white;
                //padding: 5px;
                font-size: 16px;
                border: none;
            }

            .dropdown {
                position: relative;
                display: inline-block;
            }

            .dropdown-content {
                display: none;
                position: absolute;
                background-color: #f1f1f1;
                min-width: 121px;
                box-shadow: 0px 4px 7px 0px rgba(0,0,0,0.2);
                z-index: 1;
                font-size: 12px;
            }

            .dropdown-content a {
                color: black;
                text-decoration: none;
                display: block;
            }

            .dropdown-content a:hover {background-color: #ddd;}

            .dropdown:hover .dropdown-content {display: block;}

            .dropdown:hover .dropbtn {background-color: #3e8e41;}
        